<div><h4><{$smarty.const._MD_ADS_INDEXHEADER}></h4></div>
<div><{$welcomeuser}></div>

<h4 style="text-align:left;"><{$smarty.const._MD_ADS_CONTACTINFO}></h4>
<table width="" cellpadding="2" cellspacing="1" class="outer" >
 <tr>
  <td style="width: 50%;">
   <div><strong><{$smarty.const._MD_ADS_CONTACT}>:</strong> <{$member.contact}></div>
   <div><strong><{$smarty.const._MD_ADS_EMAIL}>:</strong> <{$member.email}></div>
   <div><strong><{$smarty.const._MD_ADS_TELEPHONE}>:</strong> <{$member.telephone}></div> 
  </td>
 <td>
   <div><strong><{$smarty.const._MD_ADS_ID}>:</strong> <{$member.cid}></div>
   <div><strong><{$smarty.const._MD_ADS_NAME}>:</strong> <{$member.name}></div>
   <div><strong><{$smarty.const._MD_ADS_ADDRESS}>:</strong> <{$member.address}></div>
   <div><strong><{$smarty.const._MD_ADS_CITY}>:</strong> <{$member.city}></div>
   <div><strong><{$smarty.const._MD_ADS_STATE}>:</strong> <{$member.state}></div>
   <div><strong><{$smarty.const._MD_ADS_COUNTRY}>:</strong> <{$member.country}></div> 
   <div><strong><{$smarty.const._MD_ADS_ZIPCODE}>:</strong> <{$member.zipcode}></div> 
  </td>
 </tr> 
</table>

<h4 style="text-align:left;"><{$smarty.const._MD_ADS_INDEXHEADER}></h4>
<div><{$tabmenu}></div>
<div><{$tlist}></div>
