@import url('../../../themes/core/media/css/bootstrap/bootstrap.min.css');
@import url('../../../themes/core/media/css/font-awesome/font-awesome.css');

/* Extra Css for Installer */
html, body {background: #333;}

.hidden {
  display: none;
}

#page {
  width: 650px;
  margin: 30px auto;
  background: #fff;

  -webkit-box-shadow:  0px 0px 20px -10px rgba(0, 0, 0, .5);
     -moz-box-shadow:  0px 0px 20px -10px rgba(0, 0, 0, .5);
          box-shadow:  0px 0px 20px -10px rgba(0, 0, 0, .5);
          
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;  
          border-radius: 15px;
}

#page .inner {
  padding: 15px 30px;
}

h4 {
	margin: 20px 0 10px;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
}

.input-append .tooltip,
.input-prepend .tooltip {
  white-space: normal;
}

input.error,
select.error,
textarea.error,
input.error:focus,
select.error:focus,
textarea.error:focus {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.warningMsg, .errorMsg, .resultMsg, .confirmMsg {
	padding: 8px 35px 8px 14px;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	color: #c09853;

	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
					border-radius: 4px;
}

.errorMsg {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.resultMsg {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;	
}

.confirmMsg {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;	
}

.marker {font-size: 18px; padding-top: 6px; float: right; color: #B94A48;}