<table class="mess_block" width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <td class="title_msg"><{$block.lang_title}></td>
  </tr>
  <tr>
    <td>
	 <div class="create_msg"><img src="<{$zarilia_image}>/pointer.gif" width="8" height="8" alt="" />&nbsp;&nbsp;<a href="<{$zarilia_url}>/addons/messages/message.php?op=create"><{$smarty.const._MB_MESSAGE_CREATE}></a></div>
	 <ul class="circle">
	  <li><a href="<{$zarilia_url}>/addons/messages/index.php?op=inbox"><{$smarty.const._MB_MESSAGE_INBOX}></a></li>
	  <li><a href="<{$zarilia_url}>/addons/messages/index.php?op=sent"><{$smarty.const._MB_MESSAGE_SENT}></a></li>
	  <li><a href="<{$zarilia_url}>/addons/messages/index.php?op=msaved"><{$smarty.const._MB_MESSAGE_SAVED}></a></li>
	  <li><a href="<{$zarilia_url}>/addons/messages/index.php?op=trashed"><{$smarty.const._MB_MESSAGE_TRASH}></a></li>
	</ul>
	<div class="create_msg"><img src="<{$zarilia_image}>/pointer.gif" width="8" height="8" alt="" />&nbsp;&nbsp;<a href="<{$zarilia_url}>/addons/messages/message_func.php?op=delall"><{$smarty.const._MB_MESSAGE_DELETEMSG}></a></div>
	<div class="create_msg"><img src="<{$zarilia_image}>/pointer.gif" width="8" height="8" alt="" />&nbsp;&nbsp;<a href="<{$zarilia_url}>/addons/messages/message_buddy.php?op=edit_buddy"><{$smarty.const._MB_MESSAGE_BUDDYADD}></a></div>
	 <ul class="circle">
	  <li><a href="<{$zarilia_url}>/addons/messages/message_buddy.php"><{$smarty.const._MB_MESSAGE_BUDDY}></a></li>
	</ul>
	</td>
  </tr>
</table>